body {
   /*font-family: 'Droid Sans Mono', "HelveticaNeue-Light";
   */
    font-family: 'Roboto', sans-serif;
	background: #fdf6e3;
	/*color: #657b83;*/ /* base00 */
	color: #839496; /* base0 */

   /**
   $base1:     #93a1a1;
   $base2:     #eee8d5;
   $base3:     #fdf6e3;
*/
}

h1, h2, h3 {
   margin-top: 5px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
}

h1 {
   color: #dc322f;
   font-size: 150%;
   border-bottom: 1px solid  #eee8d5;
}

h2{
   color: #dc322f;
   background-color: #eee8d5;
   font-size: 125%;
}

h3{
   color: #586e75; /* base01 */
   font-size: 110%;
   border-bottom: 1px solid #eee;
}

a{
   color: #586e75; /* base01 */
   text-decoration: none;
}

a {
   color: #586e75; /* base01 */
}

a:hover{
   text-decoration: underline;
}

ul{
   margin-left: 10px;
   padding-left: 10px;
   list-style-type: square;
}

a:link{
   color: #586e75; /* base01 */
}

a:visited{
   color: #586e75; /* base01 */
}

table{
    /*border: 1px solid #fff;
    */
    border-spacing: 0px;
    width: 100%;
}

th{
    text-align: left;
    color: #555;
    font-size: 1.25;
    /*border-bottom: 1px solid #000;
    */
}

tr:nth-child(2n) {
    background-color:  #eee8d5;
}

tr.set3 > td{
   /*
    border-bottom: solid 1px  #eee8d5;
    */
}

td{
    text-align: left;
}

td.cellBegin, th.cellBegin{
    border-left: solid 1px  #eee8d5;
}

input{
    border: 0px;
    border-bottom: 1px solid #bbbbbb;
    background: transparent;
    font-family: 'Roboto', sans-serif;
}

input.invalid{
    border-bottom: 1px solid #a55;;
    background: #f8d8d8;
}

img{
   margin-right: 10px;
   margin-bottom: 10px;
   margin-top: 10px;
}

.assistance2, .assistance3, .assistance4{
    display: none;
}

.post pre code {
   /*color: $rebase1;
   */
   background-color: eee8d5;
}

.site{
   margin-left:auto;
   margin-right:auto;
   width: 70%;
}

.footer{
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #eee8d5;
    //color: #555;
    font-size: 80%;
}

.printonly{
display: none;
}

