<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://www.linkedin.com/in/demian0311/">LinkedIn</a></li>
          <li><a href="https://twitter.com/demian0311">Twitter</a></li>
          <li><a href="https://github.com/demian0311">GitHub</a></li>
        </ul>
      </div>
      <div class="footer-col  footer-col-3">
        <img align="right" src="/assets/images/demian_circle.png"/>
      </div>
    </div>
  </div>
</footer>
